<%= form_for(freedom) do |f| %>
  <% if freedom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freedom.errors.count, "error") %> prohibited this freedom from being saved:</h2>

      <ul>
      <% freedom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :number %>
    <%= f.text_area :number %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
